.aseguradoras,
.coberturas,
.contactanos p{
    text-align: $align-center;
    font: $font-principal;
    font-size: $xsmall;
    color: $text-color;
}

#conteiner2{
    width: 40%;
}

.carousel-item img{
    align-items: $align-center;
}

.carousel-item{
    padding-top: 10px;
    max-height: 500px;
}

.acerca-de{
    font-size: $xsmall;
    text-align: $align-center;
    background-color: $primary;
}

.acerca-de-titulo{
    font-size: 25px;
}

.acerca-de-texto{
    padding: 5px 20px 20px 20px;
}
.alineacion{
    @include flex(none,space-around,stretch);
    padding: 0px 100px 0px 100px;
}

.card-title, 
.card-text{
    text-align: $align-center;
}

.card-title, 
.card-text{
    font-size: calc(0.75em + 0.5vw)
}

.contactanos p,
.btn-enviar{
    text-align: $align-center;
}

.contacto{
    padding-left: 20%;
    padding-right: 20%;
}